@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-border: var(--border);
  
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-outfit: var(--font-outfit);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  
  --primary: #171717; 
  --primary-foreground: #ffffff;

  --muted: #f5f5f5;
  --muted-foreground: #737373;

  --card: #ffffff;
  --card-foreground: #171717;
  --border: #e5e5e5;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;

  --primary: #ededed; 
  --primary-foreground: #000000;

  --muted: #262626;
  --muted-foreground: #a3a3a3;

  --card: #0a0a0a;
  --card-foreground: #ededed;
  --border: #262626;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-outfit), Arial, sans-serif;
  transition: background-color 0.3s, color 0.3s; 
}